html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.loading-progress {
    position: relative;
    display: block;
    fill: rgba(255, 255, 255, 0.4);
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem;
}
